.divider {
    &.dir-col {
        width: 10px;
        align-self: flex-start;
        flex: 1 1 auto;
        padding: 20px;
    }
    .pac-man {
        background-color: yellow;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    .dashed {
        width: 1px;
        border-left: dashed 1px #000;
    }
}