
.projects {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.project {
    flex: 0 0 100%;
    padding: 30px 0;
    
    .project-wrapper {
        position: relative;
        padding: 0 15px;
        margin: 75px 0;
        figure {
            margin: 0;
        }
        .project-figure {
            position: absolute;
            top: -50%;
            left: -120px;
            svg {
                width: 100%;
            }
            .a{fill:none;stroke:#5d0e0e;stroke-width:3px;}.b{fill:transparent;}
            .l5 {
                stroke-dasharray: 581.24;
                stroke-dashoffset: 581.24;
                transition: stroke-dashoffset 0.5s ease;
            }
            &.active {
                stroke-dashoffset: 0;
            }
        }
        .project-content {
            position: relative;
            padding: 15px 15px 15px 65px;
            border-radius: 0 0 4px 4px;
            .project-title {
                color: $red;
                margin-bottom: 10px;
                font-weight: 700;
                font-size: 20px;
            }
            .project-summary {
                margin-bottom: 20px;
            }
            .project-link {
                svg {
                    margin-left: 10px;
                }
            }
        }
        .project-button {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
        }
    }
}