#home {
    position: relative;
    width: 100%;
    height: 100%;
    .page-content {
        height: 100%;
        width: 100%;
        padding: 0;
        background-color: $gray;
    }
    .content {
        height: 100%;
    }
    figure {
        position: relative;
        overflow: hidden;
        min-height: 100%;
        margin: 0;
    }
}