#home {
    &.page-content {
        height: 100%;
        position: absolute;
        width: 100%;
        @media screen and (min-width: 768px) {
            width: calc(100% - 400px);
        }
        background-color: $gray;
    }
    .content {
        height: 100%;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
    }
    figure {
        position: relative;
        overflow: hidden;
        min-height: 100%;
        margin: 0;
        background-image: url('images/rawpixel-603646-unsplash.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;  
    }
}