//Colours
$red: rgba(93, 14, 14, 1);
$red-50: rgba(93, 14, 14, 0.5);
$red-20: rgba(93, 14, 14, 0.2);

$gray: rgba(239, 239, 239, 1);
$gray-dark: rgba(51, 51, 51, 1);
$white: rgba(255, 255, 255, 1);


//Fonts
$fa: "FontAwesome";
$root-font: Arial, Helvetica, Sans-serif;
$base-font: "proxima-nova", $root-font;